#weather {
  padding: 2.5rem 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}

.filter {
  margin: 0 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter .search {
  border: none;
  border-bottom: solid 2px #ddd;
  margin: 1rem 2rem 0;
  outline: none;
  color: #fff;
  background-color: transparent;
  font-size: 20px;
}

.filter .search::-webkit-input-placeholder {
  color: #ccc;
}

.filter .search:-ms-input-placeholder {
  color: #ccc;
}

.filter .search::-ms-input-placeholder {
  color: #ccc;
}

.filter .search::placeholder {
  color: #ccc;
}

.filter .search:focus {
  border-bottom: solid 2px #fafafa;
}

.filter .btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  margin: 1rem 2rem 0;
  padding: 10px 20px;
  border: solid 1px #fff;
  border-radius: 2px;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.filter .btn::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10%;
  right: 0;
  width: 0;
  background-color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
}

.filter .btn:focus {
  outline: none;
}

.filter .btn:hover {
  color: #000;
}

.filter .btn:hover::before {
  width: 120%;
  z-index: -1;
}

.weather-current {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  display: inline-block;
  width: 40%;
  margin: 1.5rem auto;
  padding: 1.7rem 1rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.weather-current:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.weather-current h1 {
  font-size: 2.5rem;
  margin: 0;
}

.weather-current .current-img {
  width: 7rem;
}

.weather-current .current {
  font-size: 1.6rem;
}

.temp, .time {
  margin: 0 0 0.8rem 0;
}

.describe {
  margin: 0;
}

.forecast-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1rem;
}

.forecast-item {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  -ms-flex-preferred-size: calc(16.5% - 2rem);
      flex-basis: calc(16.5% - 2rem);
  padding: 1.7rem 1rem;
  margin-bottom: 1rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.forecast-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 1300px) {
  #weather {
    max-width: 992px;
  }
  .weather-current {
    width: 50%;
  }
  .forecast-item {
    -ms-flex-preferred-size: 27%;
        flex-basis: 27%;
  }
}

@media screen and (max-width: 992px) {
  #weather {
    max-width: 768px;
  }
  .filter .btn {
    font-size: 0.9rem;
  }
  .filter .search {
    font-size: 1.1rem;
  }
  .weather-current {
    width: 45%;
  }
  .weather-current h1 {
    font-size: 2.2rem;
  }
  .weather-current .current-img {
    width: 5rem;
  }
  .weather-current .current {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  #weather {
    max-width: 540px;
  }
  .filter .btn {
    font-size: 0.8rem;
    padding: 0.5 1rem;
    margin: 1rem 1rem 0;
  }
  .filter .search {
    font-size: 0.9rem;
    margin: 1rem 1rem 0;
  }
  .weather-current {
    width: 60%;
  }
  .weather-current h1 {
    font-size: 2.2rem;
  }
  .weather-current .current-img {
    width: 5rem;
  }
  .weather-current .current {
    font-size: 1.3rem;
  }
  .forecast-item {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media screen and (max-width: 540px) {
  .forecast-item {
    -ms-flex-preferred-size: 85%;
        flex-basis: 85%;
  }
  .weather-current h1 {
    font-size: 1.8rem;
  }
  .weather-current .current-img {
    width: 4.5rem;
  }
  .weather-current .current {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=Weather.css.map */